@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grain: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"><filter id="n"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="2" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23n)" opacity="0.05"/></svg>');
}

body {
  @apply bg-black text-white;
  background-image: var(--grain);
  background-blend-mode: soft-light;
}
